.page
{
  font-size: 11px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.setleft
{
  float: left;
  margin-left: 2px;
}

.setright
{
  float: right;
  margin-right: 5px;
}

.idtxt
{
  color: grey;
}


mat-form-field
{
  width: 90%;
  padding: 1px;
}

mat-select, mat-option, matInput, mat-checkbox
{
  font-size: 12px;
  height: .5vh;
  padding: 1px;
}

mat-card
{
  background-color: #CADEB5;
  padding: 10px;
}

mat-checkbox, mat-checkbox-frame, mat-checkbox-checked, mat-checkbox-background {
  /*transform: scale(.9);
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;*/
}

.container > .row
{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}
