<div class="container navclass" id="navbar">
  <div class="row innerbox">
    <div class="col-sm"><ofsbutton  label="DAMPS" imgname="damps_icon" [width]="90" tooltip="Click to view DAMPS info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="ORDERS" imgname="orders_icon" [width]="95" tooltip="Click to view ORDERS info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="PAY" imgname="pay_icon" [width]="60" tooltip="Click to view PAY info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="TCS" imgname="tcs_icon" [width]="70" tooltip="Click to view TCS info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="CONUSA" imgname="conusa_icon" [width]="100" tooltip="Click to view CONUSA info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="Mission Locations" imgname="msnLoc_icon" [width]="165" tooltip="Click to view MISSION LOCATION info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="Fund Cites" imgname="fundcite_icon" [width]="115" tooltip="Click to view FUND CITE info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="Operations" imgname="operations_icon" [width]="140" tooltip="Click to view OPERATIONS info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="TPFDD" imgname="tpfdd_icon" [width]="90" tooltip="Click to view TPFDD info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
    <div class="col-sm"><ofsbutton  label="Cycles" imgname="cycles_icon" [width]="90" tooltip="Click to view CYCLE info." (btnClickEvt)=btnClickEvtHandler($event)></ofsbutton></div>
  </div>
</div>
