<div id="banner" class="bannerbar">
    <span class="versiontxt">Version {{ version }}</span>
    <img ngSrc="assets/images/Title.png" width="364" height="40" alt="Operation Fund Synchronization System" class="titleimageshadow" priority />
    <img ngSrc="assets/images/Title_green.png" width="364" height="40" class="titleimage" alt="" priority />
    <img ngSrc="assets/images/mdis.png" class="mdisButton" title="Click to return to MDIS" (click)="returnToMDIS()" alt="" height="51" width="100"/>
</div>
